<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="{{ url_for("static", filename="poll.js") }}"></script>
</head>
<body>
<h1>Welcome to Wireless Club!</h1>
<h2>Please swipe your card.</h2>
<p id="name"></p>
<p id="uid"></p>
<form name="register" id="register" action="" method="post" onsubmit="">
    <fieldset>
        <legend>Please Register Here:</legend>
        <input type="text" name="name" value=""> <input type="submit" name="register" value="Register">
        <br>
        <p>{{ error }}</p>
    </fieldset>
</form>
</body>
</html>
